<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <center>
        <h1 style="color: red; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1;">ERROR</h1>
        <label style="color: #111; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center">There was en error with process please go back home</label>
       <br />
       <p style="font-family: 'Open Sans', sans-serif;">{{error}}</p>
        <br />
         <a  style="text-decoration:none; font-family: 'Open Sans', sans-serif;color:#265C83" href="/">Go back to home</a>
    </center>
</body>
</html>
