<!DOCTYPE html>
<html>
    
<head>
    <title>Upload new File</title>
</head>
<body>
    <center>
        <h1 style="color: #111; font-family: 'Helvetica Neue', sans-serif; font-size: 50px; font-weight: bold; letter-spacing: -1px; line-height: 1;">K-Sat Solution Program</h1>
        <label style="color: #111; font-family: 'Open Sans', sans-serif; font-size: 20px; font-weight: 300; line-height: 32px; margin: 0 0 72px; text-align: center">Upload a .txt file to find a solution for the problem</label>
        <form action="" method=post enctype=multipart/form-data>
            <p>
                <input  class="btn"type=file name=file accept=".txt">
                <input class="btn"type=submit value=Upload>
        </form>
        <br>
    </center>
    <h2>El input debe tener el siguiente formato:</h2>
    <h3>(nAoB)a(BonC)a(AoC)</h3>
    <h4>Donde:</h4>
     <ul>
        <li>A y B son las varialbes</li>    
        <li>El prefijo “n” quiere decir negado</li>  
        <li>La letra “o” minúscula hace referencia a la instrucción OR, mientras que la “a” minúscula es un AND.</li>  
        <li>El input no debe tener espacios,  las clausulas están emcapsuladas entre paréntesis, divididas por “a” (ANDS).</li>  
        <li>Dentro de la clausula, las variables tiene que estar separadas por “o” (OR).</li>  
    </ul>
    </body>
</html>
    