<!DOCTYPE html>
<html>
    
<head>
    <title>Upload new File</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script type="text/javascript">
      $(function() {
        var submit_form = function(e) {
          $.getJSON($SCRIPT_ROOT + '/_getclause', {
            clauses: $('input[name="num_clauses"]').val(),
            sat: $('input[name="sat"]').val()
          }, function(data) {
            $('#result').val(data.result);
            $('input[name=num_clauses]').focus().select();
          });
          return false;
        };
        $('input#generate').bind('click', submit_form);
      });
    </script>
</head>
<body>
    <center>
        <h1 class="indexTitle">K-Sat Solution Program</h1>
        <label class="indexLabel">Upload a .txt file to find a solution for the problem</label>
        <form action="" method=post enctype=multipart/form-data>
            <p>
                <input  class="btn myButton"type=file name=file accept=".txt">
                <input class="btn myButton"type=submit value=Upload>
        </form>
        <br>
   
    <div>
        <h2 class="indexTitle" style="font-size:18px">El input debe tener el siguiente formato:</h2>
        <h3 class="indexLabel" style="font-size:15px;margin-bottom:0px">(nAoB)a(BonC)a(AoC)</h3>
        <h4 class="indexLabel" style="font-size:15px;margin-bottom:0px">Donde:</h4>
         <div style="margin: 0 10%;max-width: 30%;float: left;">
         <ul>
            <li>A y B son las varialbes (se pueden incluir mas variables ademas de estas)</li>    
            <li>El prefijo “n” quiere decir negado</li>  
            <li>La letra “o” minúscula hace referencia a la instrucción OR, mientras que la “a” minúscula es un AND.</li>  
            <li>El input no debe tener espacios,  las clausulas están emcapsuladas entre paréntesis, divididas por “a” (ANDS).</li>  
            <li>Dentro de la clausula, las variables tiene que estar separadas por “o” (OR).</li>  
        </ul>
        </div>
        <div style="margin: 0 10%;max-width: 30%;float: left;">
        <br>
        <form action="getClause" method="POST">
                <input class="btn myButton" id="generate" type=submit value="Generar instancia aleatoria">
                <br>
                <input class="btn myButton" type=submit value="Obtener resultado de instancia aleatoria">
                <br>
                 <label class="labelIndex">Clausulas:</label><input type="text" name="clauses" id="result">
        </form>
        <div><label class="labelIndex">Numero de clausulas:</label><input type="number" name="num_clauses" value="10" ></div>
        <div><label class="labelIndex">K-Sat???:</label><input type="number" name="sat" value="3" > </<div>
         </center>
    </div>
    </body>
</html>
    